div.app

  div.app__header
    div.app__header__image
      img(src=require('../assets/images/app-crosshelmet.gif'))
    div.app__header__connect
      div
        div.app__descr
          h1 Connectivity
          p Our dedicated smartphone app, available on iOS ans Android, providrs effortless access to the CroosHelemet's many features.
        div.app__download
          img(src=require('../assets/images/app-store.jpg'), alt='')
          img(src=require('../assets/images/play-store.png'), alt='')

  div.app__content
    div.app__img__container
      div.page.imageIsHover
        img.test(src=require('../assets/images/connect-1.png'), alt='')
      div.page
        img(src=require('../assets/images/connect-2.png'), alt='')
      div.page
        img(src=require('../assets/images/connect-3.png'), alt='')

    div.app__img__descr
      div.leg.descrIsOpen
        h2 Group Talk
        p You can pair your CrossHelmet with your phone. Our dedicated smartphone app gives you simple control of the CrossHelmet’s features. A group chat feature can be enabled when your bike is stationary so that you can communicate with multiple people at once whilst on tour.
      div.leg
        h2 Navigate
        p Our function integrates with Open Maps to ensure you can find the way to your destination no matter where you are, and you don’t need to switch between our app and the map you use on your smartphone as you travel.
      div.leg
        h2 CrossSound Control
        p CrossSound Control -a first for the motorcycle industry- is designed to enhance or reduce environmental sounds depending on the rider’s needs. The rider can safely limit road and engine noise in urban environments that is often responsible for rider fatigue.
