include partials/header.pug

section.hero
  img.hero__image(src=require('../img/helmet.png'), alt="")
  a.hero__cta(href="#") Purchase now

section.description.to-animate
  h1.description__title Brave the Adventure
  p.description__text The CrossHelmet is a next generation motorcycle helmet with sound control and 360˚ visibility that will transform your riding experience. Motorcycles are developing faster than helmets. As a rider, you need more choices, to find the helmet that meets your needs.

section.experience
  .experience__video
  a.experience__cta(href="") Live the experience

section.lab
  img.lab__bg(src=require('../img/lab-1.jpg'), alt="")
  img.lab__image(src=require('../img/lab-2.jpg'), alt="")
  p.lab__text Our team has been hard at work for the past three years to bring the Crosshelmet from ideation to reality.
  a.lab__cta(href="story.html") Discover the lab

section.specs
  h2.specs__title Welcome to the future
  img.specs__image(src=require('../img/helmet-side.png'), alt="")
  p.specs__text While attempting to combine design and technology into one, we work to develop products that bring our dream of the future into reality.
  a.specs__cta(href="") Product specs

section.app
  img.app__image(src=require('../img/phone.png'), alt="")
  p.app__text Our dedicated smartphone app, available on iOS and Android, provides effortless access to the CrossHelmet’s many features.
  a.app__cta(href="") Get the app

include partials/footer.pug
