section.hero
  .hero__helmet
    .hero__loader
      .hero__loaderCircle.hero__loaderCircle--one
      .hero__loaderCircle.hero__loaderCircle--two
      .hero__loaderCircle.hero__loaderCircle--three
    img.hero__image(src=require('../assets/images/helmet.png'), alt='')
  .hero__ctaWrapper
    a.hero__cta(href='#', data-i18n='purchase_now') Purchase now

  .hero__description.to-animate
    h1.description__title(data-i18n='brave') Brave the Adventure
    p.description__text(data-i18n='description_text') The CrossHelmet is a next generation motorcycle helmet with sound control and 360˚ visibility that will transform your riding experience. Motorcycles are developing faster than helmets. As a rider, you need more choices, to find the helmet that meets your needs.

section.experience.to-animate
  .experience__video
  p.experience__text.to-animate(data-i18n='experience_text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  a.experience__cta(href='#', data-i18n='experience') Live the experience

section.lab
  .lab__imgWrapper
    img.lab__bg.to-animate(src=require('../assets/images/lab-1.jpg'), alt=')
    img.lab__image.to-animate(src=require('../assets/images/lab-2.jpg'), alt=')
  .lab__textWrapper.to-animate
    h2.lab__title(data-i18n='lab_title') Brave the adventure
    p.lab__text(data-i18n='lab_text') Our team has been hard at work for the past three years to bring the Crosshelmet from ideation to reality.
    p.lab__text--large(data-i18n='lab_text_large') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.lab__cta(href='story.html', data-i18n='story') Discover the lab

section.specs.to-animate
  h2.specs__title.to-animate(data-i18n='specs_title') Welcome to the future
  img.specs__image.to-animate(src=require('../assets/images/helmet-side.png'), alt=')
  p.specs__text.to-animate(data-i18n='specs_text') While attempting to combine design and technology into one, we work to develop products that bring our dream of the future into reality.
  p.specs__text--large.to-animate(data-i18n='specs_text_large') With an high definition displayed packed into each side of the HUD, you can clearly see the  situation behind you. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  a.specs__cta.to-animate(href=', data-i18n='specs') Product specs

section.app.to-animate
  img.app__image(src=require('../assets/images/phone.png'), alt='')
  .app__textWrapper
    p.app__text(data-i18n='app_text') Our dedicated smartphone app, available on iOS and Android, provides effortless access to the CrossHelmet’s many features.
    p.app__text--large(data-i18n='app_text_large') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Our dedicated smartphone app, available on iOS and Android, provides effortless access to the CrossHelmet’s many features.
    a.app__cta(href='', data-i18n='get_app') Get the app
