div.story
    h1.timelineTitle Our story

    section.timeline.timeline--0.timeline--active(data-date="2013")
        div.date
            span.date__number 2
            span.date__number 0
            span.date__number 1
            span.date__number 3

    section.timeline.timeline--1(data-date="2013") 
        div.explain
            div.explain__content
                p.explain__contentDate 2013
                h1.explain__contentTitle CrossHelmet Idea
                p.explain__contentText The founder Arata has always had a passion for riding, he was 17 when he got his first motorcycle  and currently rides a Husqvarna SMS630.

    section.timeline.timeline--2(data-date="2014")
        div.date
            span.date__number 2
            span.date__number 0
            span.date__number 1
            span.date__number 4

    section.timeline.timeline--3(data-date="2014")
        div.explain
            div.explain__content
                p.explain__contentDate 2014
                h1.explain__contentTitle Milestone #1 : design prototype
                p.explain__contentText The unique and functional design of the CrossHelmet is what sets it apart. Our team has years of combined experience working on world-renowned products like the Yamaha MT-09 and the Walkman - experience they’ve applied to our product.
            img.explain__picture(src=require('../assets/images/story/designprototype.jpg'), alt="#")

    section.timeline.timeline--4(data-date="2015")
        div.date
            span.date__number 2
            span.date__number 0
            span.date__number 1
            span.date__number 5

    section.timeline.timeline--5(data-date="2015")
        div.explain
            div.explain__content
                p.explain__contentDate 2015
                h1.explain__contentTitle Milestone #2 : engineering prototype
                h1.explain__contentTitle Milestone #3 : proof of concept prototype
            img.explain__picture(src=require('../assets/images/story/Engeenirie.jpg'), alt="#")

    section.timeline.timeline--6(data-date="2016")
        div.date
            span.date__number 2
            span.date__number 0
            span.date__number 1
            span.date__number 6

    section.timeline.timeline--7(data-date="2016")
        div.explain
            div.explain__content
                p.explain__contentDate May 2016
                h1.explain__contentTitle Milestone #4 : engineering validation
            img.explain__picture(src=require('../assets/images/story/validation.jpg'), alt="#")

    section.timeline.timeline--8(data-date="2016")
        div.explain
            div.explain__content
                p.explain__contentDate September 2016
                h1.explain__contentTitle Exhibited at TechCrunch London
                p.explain__contentText TechCrunch Disrupt is the world’s leading authority in debuting revolutionary startups, introducing game-changing technologies, and discussing what’s top of mind for the tech industry’s key innovators. Disrupt gathers the best and brightest entrepreneurs, investors, hackers, and tech fans for on-stage interviews, the Startup Battlefield competition, a 24-hour Hackathon, Startup Alley, Hardware Alley, and After Parties.

    section.timeline.timeline--9(data-date="2016")
        div.explain
            div.explain__content
                p.explain__contentDate December 2016
                h1.explain__contentTitle Milestone #4 : engineering validation

    section.timeline.timeline--10(data-date="2017")
        div.date
            span.date__number 2
            span.date__number 0
            span.date__number 1
            span.date__number 7

    section.timeline.timeline--11(data-date="2017")
        div.explain
            div.explain__content
                p.explain__contentDate Febuary 2017
                h1.explain__contentTitle Milestone #5 : design validation
            img.explain__picture(src=require('../assets/images/story/validationdesign.jpg'), alt="#")

    section.timeline.timeline--12(data-date="2017")
        div.explain
            div.explain__content
                p.explain__contentDate March 2017
                h1.explain__contentTitle Exhibited at SXSW
                p.explain__contentText South by Southwest (SXSW) is a collection of music festivals (SXSW Music), cinema (SXSW Film) and interactive media (SXSW Interactive)

    section.timeline.timeline--13(data-date="2017")
        div.explain
            div.explain__content
                p.explain__contentDate September 2017
                h1.explain__contentTitle Kicksarter
                p.explain__contentText Kickstarter is a US crowdfunding company. We have collected $ 344,336 committed on $ 100,000

    section.timeline.timeline--14(data-date="2017")
        div.explain
            div.explain__content
                p.explain__contentDate December 2017
                h1.explain__contentTitle Set up tooling
            img.explain__picture(src=require('../assets/images/story/setup.jpg'), alt="#")

    section.timeline.timeline--15(data-date="2018")
            div.date
                span.date__number 2
                span.date__number 0
                span.date__number 1
                span.date__number 8

    section.timeline.timeline--16(data-date="2018")
            div.explain
                div.explain__content
                    p.explain__contentDate 2018
                    h1.explain__contentTitle Shipping


nav.timelineNav
    div.timelineNav__item.timelineNav__item--2013.timelineNav__item--active(data-slide="0")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2013
    div.timelineNav__item.timelineNav__item--2014(data-slide="2")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2014
    div.timelineNav__item.timelineNav__item--2015(data-slide="4")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2015
    div.timelineNav__item.timelineNav__item--2016(data-slide="6")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2016
    div.timelineNav__item.timelineNav__item--2017(data-slide="10")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2017
    div.timelineNav__item.timelineNav__item--2018(data-slide="15")
        div.timelineNav__itemLine
        a.timelineNav__itemDate(href="#") 2018

include partials/footer.pug
