include partials/header.pug
div.story
    div.story__title Our Story
    div.story__content
        div.story__content__border
        div.chrono
            div.chrono__date
                p.chrono__date__text 2013
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text CrossHelmet Idea
        div.chrono
            div.chrono__date
                p.chrono__date__text 2014
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text Milestone #1 : design prototype
            img.chrono__image(src=require('../image/process/design_prototype.png'))
        div.chrono
            div.chrono__date
                p.chrono__date__text 2015
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text Milestone #2 : engineering prototype
            div.chrono__event
                div.chrono__event__point
                p.chrono__event__text Milestone #3 : proof of concept prototype
            img.chrono__image(src=require('../image/process/Engenirie.png'))
        div.chrono
            div.chrono__date
                p.chrono__date__text 2015
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month May
                  p.chrono__event--months__text Milestone #4 : engineering validation
            img.chrono__image(src=require('../image/process/validation.png'))
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month September 
                  p.chrono__event--months__text Exhibited at TechCrunch London
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month December
                  p.chrono__event--months__text Milestone #4 : engineering validation          
        div.chrono
            div.chrono__date
                p.chrono__date__text 2015
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month Febuary
                  p.chrono__event--months__text Milestone #5 : design validation
            img.chrono__image(src=require('../image/process/validation_design.png'))
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month March 
                  p.chrono__event--months__text Exhibited at SXSW
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month September
                  p.chrono__event--months__text KickStarter          
            div.chrono__event--months
                div.chrono__event--months__point
                div.chrono__event--months__content
                  p.chrono__event--months__month December
                  p.chrono__event--months__text Set up tooling
            img.chrono__image(src=require('../image/process/set_up.png')) 
        div.chrono
            div.chrono__date
                p.chrono__date__text 2018
            div.chrono__event.chrono__event--end
                div.chrono__event__point.chrono__event__point--end
                p.chrono__event__text.chrono__event__text--end Shipping     
include partials/footer.pug